<%= form_with(model: award) do |form| %>
  <% if award.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(award.errors.count, "error") %> prohibited this award from being saved:</h2>

      <ul>
        <% award.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :badge %>
    <%= form.text_field :badge %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
